"*":
  "atom-notes":
    directory: "/Users/victor/Google Drive/notes"
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "base16-tomorrow-light-theme"
    ]
  editor:
    fontSize: 15
    invisibles: {}
  emmet: {}
  "exception-reporting":
    userId: "89f8dc4e-93de-fd53-ff9c-5d5fd94bca01"
  "highlight-line":
    enableBackgroundColor: false
  metrics:
    userId: "8588ddec5c35029d556b88449580eef038699a7d"
  "notational-velocity":
    directory: "/Users/victor/notes"
  nvatom:
    directory: "/Users/victor/GDrive/notes"
  react: {}
  "release-notes":
    viewedVersion: "0.59.0"
  "status-bar": {}
  term2:
    shellOverride: "zsh"
  welcome:
    showOnStartup: false
